$main-bg: #e5e5e5;
$nav-bar-bg: #2196f3;
$active-tab: #1e88e5;

$text-primary: #ffffff;
$text-secondary: rgba($text-active, 0.7);
$text-dark: #000000;

$like-default: #f24e1e;
$like-hovered: #f24e1e;
$like-active: #ff3a00;
