@import "reset";
@import "colors";
@import "sizes";
@import "breakpoints";

$shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
$transform-time: 0.3s;

html {
  scrollbar-gutter: stable;
}

body {
  font-size: $font-size-main;
  line-height: $line-height-main;
  letter-spacing: $letter-spacing-main;
}
