@import "reset";
@import "colors";
@import "sizes";
@import "breakpoints";

html {
  scrollbar-gutter: stable;
}

body {
  font-size: $font-size-main;
  line-height: $line-height-main;
  letter-spacing: $letter-spacing-main;
}
