$main-content-padding-block-lg: 50px;
$main-content-padding-inline-lg: 60px;
$main-content-padding-block-md: 30px;
$main-content-padding-inline-md: 40px;
$main-content-padding-block-sm: 10px;
$main-content-padding-inline-sm: 20px;

$tab-padding-lg: 23px;
$tab-padding-md: 16px;
$tab-padding-sm: 10px;

$gallery-gap-lg: 48px;
$gallery-gap-md: 25px;
$gallery-gap-sm: 10px;

$image-size-lg: 225px;
$image-size-md: 200px;
$image-size-sm: 150px;

$font-size-main: 0.875rem;
$line-height-main: 1.313rem;
$letter-spacing-main: 0.016rem;
