.container {
  display: flex;
  flex-direction: column;
  max-inline-size: $breakpoint-desktop;
  margin: 0 auto;
}

.navbar {
  display: flex;
  align-items: center;
  color: $text-secondary;
  background-color: $nav-bar-bg;
  padding-inline-start: 60px;
}

@media (max-width: $breakpoint-tablet) {
  .navbar {
    padding-inline-start: 40;
  }

  .tab {
    padding: $tab-padding-md;
  }
}

@media (max-width: $breakpoint-mobile) {
  .navbar {
    justify-content: space-around;
    padding-inline-start: 0;
  }
}
