.gallery {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: $gallery-gap-lg;
}

@media (max-width: $breakpoint-tablet) {
  .gallery {
    gap: $gallery-gap-md;
  }
}

@media (max-width: $breakpoint-mobile) {
  .gallery {
    flex-direction: column;
    gap: $gallery-gap-sm;
  }
}
