.card {
  position: relative;
  width: 100%;
  max-width: $image-size;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  transition: transform $transform-time ease;
  margin: 0 auto;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      transform: scale($image-hover-size / $image-size);
      box-shadow: $shadow;
    }
  }
}

.image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.likeWrapper {
  position: absolute;
  right: 15px;
  bottom: 20px;
  width: $like-size;
  height: $like-size;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;

  .like {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity $transform-time ease;
  }
}

.card:hover .likeWrapper .like {
  opacity: 1;
  visibility: visible;
}

@media (max-width: $breakpoint-mobile) {
  .card {
    max-width: $image-size-mobile;
  }

  .likeWrapper {
    width: $like-size-mobile;
    height: $like-size-mobile;
    right: 10px;
    bottom: 15px;
  }

  .card:active .likeWrapper .like {
    opacity: 1;
    visibility: visible;
  }
}
